@import "tailwindcss";

:root {
  --background: #100f0f;
  --foreground: #171717;
  
}

@layer theme {
  :root {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


html, body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  /* 2. Standardize box sizing */
  box-sizing: border-box;
}